<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/studentdashboard.css')}}">
       <link rel="stylesheet" href="{{ url_for('static',filename='css/complain.css')}}">
    <title>Complain</title>
  </head>
  <body>
<main>
  <div class="lhs">
  <div class="profile">
<div class="profile_img">
  <img src="{{ url_for('static', filename='/images/uploads/'+filename)}}"  alt="">
</div>
<div class="profile_info">
  <h2 class="avatar_name">{{naming}}</h2>

</div>
   </div>

   <div class="menu_bar2">
     <ul class="hms_links_style">
       <li  class="lia"><a href="/allotment"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Room Allotment</a></li>
       <li  class="lia"><a href="/complain"><i class="fa fa-ticket" aria-hidden="true"></i>&nbsp;Complain</a></li>
       <li  class="lia"><a href="/update"><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;Update Profile</a></li>
         <li  class="lia"><a href="/upload"><i class="fa fa-cog fa-spin"></i>&nbsp;Upload Profile</a></li>
         <li  class="lia"><a href="/logout"><i class="fa fa-cog fa-spin"></i>&nbsp;Logout</a></li>
     </ul>
   </div>
 </div>
  <div class="rhs">
      <div class="p1">
          <h1><u>Complain here:</u></h1>
      </div>
      <form action="/complain" method="POST">
        <input type="text" name="comp" placeholder="Write your complain here" style="height:250px;width:80%">
          <input type="submit" value="Submit">
      </form>
  </div>
</main>
{% include "includes/messages.html" %}
  </body>
</html>


















    <!--<div class="wrapper">
      <div class="navbar">
        <h1 class="title_1">Animation</h1>

        <div class="profile_wrap">
          <div class="profile_img">
            <img src="images/avatar.svg" alt="">

          </div>
          <div class="profile_info">
            <h2 class="name">Garreth Riley</h2>
            <p class="role">Administrator</p>

            </div>

          </div>
          <ul>
            <li>
              <a href="#">
              <span class="icon"><i class="fa fa-tachometer-alt"></i></span>
              <span class="title_2">Dashboard</span>
            </a>
            </li>
            <li>
              <a href="#">
              <span class="icon"><i class="fa fa-star"></i></span>
              <span class="title_2">Sales</span>
            </a>
            </li>
            <li>
              <a href="#">
              <span class="icon"><i class="far fa-file-alt"></i></span>
              <span class="title_2">Invoices</span>
            </a>
            </li>
            <li>
              <a href="#">
              <span class="icon"><i class="far fa-credit-card"></i></span>
              <span class="title_2">Payment</span>
            </a>
            </li>
            <li>
              <a href="#">
              <span class="icon"><i class="fa fa-users"></i></span>
              <span class="title_2">Team</span>
            </a>
            </li>
            <li>
              <a href="#">
              <span class="icon"><i class="fa fa-database"></i></span>
              <span class="title_2">Database</span>
            </a>
            </li>
            <li>
              <a href="#">
              <span class="icon"><i class="far fa-link"></i></span>
              <span class="title_2">Partners</span>
            </a>
            </li>
            <li>
              <a href="#">
              <span class="icon"><i class="far fa-cog"></i></span>
              <span class="title_2">setting</span>
            </a>
            </li>
          </ul>
        </div>

      </div>

    </div>!-->
  {% include "includes/messages.html" %}
  </body>
</html>
