<html>
<head>
   <link rel="stylesheet" href="static/css/room.css">
   <title>Room Allotment</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function()
    {
      $("#id1").click(function()
      {
        $(this).hide();
      });
      $("#id2").click(function(){
        $(this).hide();
      });
      });
    </script>
</head>
<body>
   <div class="back_dashboard">
      <a  class="back_dashboard_0" href="/dashboard"><u>Back to Dashboard</u></a>
   </div>
   <h1><u><center>Vikram Sarabhai Hostel</center></u></h1>
   <div class="room_style">
   <h1><u>Room Allotment</u></h1>
       <h3><u>Select a room for allotment:</u></h3>
   </div>
<div class="room_alloment">
   <form action="/allotment" method="POST">
      <div class="room_number_0">
      <div class="room_number_1">
      <input type="radio" class="1" id="id1" name="room" value="V-101" >&nbsp;V-101
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" id="id2" name="room" value="V-102" >&nbsp;V-102
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-103">&nbsp;V-103
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-104" >&nbsp;V-104
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-105">&nbsp;V-105
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-106" >&nbsp;V-106
      </div>
   
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-106" >&nbsp;V-107
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-106" >&nbsp;V-108
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-106" >&nbsp;V-109
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-106">&nbsp;V-110
      </div>
</div>
<div class="room_number_0">
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-111">&nbsp;V-111
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-112" >&nbsp;V-112
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-113" >&nbsp;V-113
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-114" >&nbsp;V-114
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-115" >&nbsp;V-115
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-116">&nbsp;V-116
     </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-117">&nbsp;V-117
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-118" > &nbsp;V-118
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-119">&nbsp;V-119
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-120">&nbsp;V-120
      </div>
   </div>
   <div class="room_number_0">
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-121">&nbsp;V-121
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-122">&nbsp;V-122
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-123">&nbsp;V-123
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-124">&nbsp;V-124
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-125">&nbsp;V-125
      </div>
      <div class="room_number_1">
      <input type="radio" class="" name="room" value="V-126">&nbsp;V-126
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-127">&nbsp;V-127
      </div> 
       <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-128">&nbsp;V-128
      </div> 
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-129">&nbsp;V-129
      </div> 
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-130">&nbsp;V-130
      </div> 
   </div>
   <div class="room_number_0">
     
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-131">&nbsp;V-131
      </div> 
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-132">&nbsp;V-132
      </div> 
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-133">&nbsp;V-133
      </div> 
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-134">&nbsp;V-134
      </div> 
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-135">&nbsp;V-135
      </div> 
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-136">&nbsp;V-136
      </div> 
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-137">&nbsp;V-137
      </div> 
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-138">&nbsp;V-138
      </div> 
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-139">&nbsp;V-139
      </div> 
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-140">&nbsp;V-140
      </div> 
   </div>
   <div class="room_number_0">
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-141">&nbsp;V-141
      </div> 
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-142">&nbsp;V-142
      </div> 
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-143">&nbsp;V-143
      </div> 
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-144">&nbsp;V-144
      </div> 
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-145">&nbsp;V-145
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-146">&nbsp;V-146
      </div> 
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-147">&nbsp;V-147
      </div> 
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-148">&nbsp;V-148
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-149">&nbsp;V-149
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-150">&nbsp;V-150
      </div>
   </div>
   <div class="room_number_0">
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-151">&nbsp;V-151
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-152">&nbsp;V-152
     </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-153">&nbsp;V-153
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-154">&nbsp;V-154
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-155">&nbsp;V-155
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-156">&nbsp;V-156
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-157">&nbsp;V-157
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-158">&nbsp;V-158
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-159">&nbsp;V-159
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="V-160" >&nbsp;V-160
      </div>
   </div>
   <div class="room_submit">
       <input  class ="room_submit_style" type="submit" value="Submit">
   </div>
   </form>
   </div>
{% include "includes/messages.html" %}
</body>
</html>