<html>
<head>
   <link rel="stylesheet" href="static/css/room.css">
   <title>Room Allotment</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function()
    {
      $("#id1").click(function()
      {
        $(this).hide();
      });
      $("#id2").click(function()
      {
        $(this).hide();
      });
      });
    </script>
</head>
<body>
   <div class="back_dashboard">
      <a  class="back_dashboard_0" href="/dashboard"><u>Back to Dashboard</u></a>
   </div>
   <h1><u><center>Aryabhatta Hostel</center></u></h1>
   <div class="room_style">
   <h1><u>Room Allotment</u></h1>
       <h3><u>Select a room for allotment:</u></h3>
   </div>
<div class="room_alloment">
   <form action="/allotment" method="POST">
      <div class="room_number_0">
      <div class="room_number_1">
      <input type="radio" class="1" id="id1" name="room" value="A-101" >&nbsp;A-101
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" id="id2" name="room" value="A-102" >&nbsp;A-102
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-103">&nbsp;A-103
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-104" >&nbsp;A-104
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-105">&nbsp;A-105
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-106" >&nbsp;A-106
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-107" >&nbsp;A-107
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-108" >&nbsp;A-108
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-109" >&nbsp;A-109
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-110">&nbsp;A-110
      </div>
</div>
<div class="room_number_0">
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value=A-111">&nbsp;A-111
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-112" >&nbsp;A-112
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-113" >&nbsp;A-113
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-114" >&nbsp;A-114
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-115" >&nbsp;A-115
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-116">&nbsp;A-116
     </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-117">&nbsp;A-117
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-118" > A-118
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-119">&nbsp;A-119
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-120">&nbsp;A-120
      </div>
   </div>
   <div class="room_number_0">
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-121">&nbsp;A-121
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-122">&nbsp;A-122
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-123">&nbsp;A-123
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-124">&nbsp;A-124
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-125">&nbsp;A-125
      </div>
      <div class="room_number_1">
      <input type="radio" class="" name="room" value="A-126">&nbsp;A-126
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-127">&nbsp;A-127
      </div>
       <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-128">&nbsp;A-128
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-129">&nbsp;A-129
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-130">&nbsp;A-130
      </div>
   </div>
   <div class="room_number_0">

      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-131">&nbsp;A-131
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-132">&nbsp;A-132
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-133">&nbsp;A-133
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-134">&nbsp;A-134
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-135">&nbsp;A-135
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-136">&nbsp;A-136
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-137">&nbsp;A-137
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-138">&nbsp;A-138
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-139">&nbsp;A-139
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-140">&nbsp;A-140
      </div>
   </div>
   <div class="room_number_0">
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-141">&nbsp;A-141
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-142">&nbsp;A-142
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-143">&nbsp;A-143
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-144">&nbsp;A-144
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-145">&nbsp;A-145
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-146">&nbsp;A-146
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-147">&nbsp;A-147
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-148">&nbsp;A-148
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-149">&nbsp;A-149
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-150">&nbsp;A-150
      </div>
   </div>
   <div class="room_number_0">
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-151">&nbsp;A-151
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-152">&nbsp;A-152
     </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-153">&nbsp;A-153
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-154">&nbsp;A-154
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-155">&nbsp;A-155
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-156">&nbsp;A-156
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-157">&nbsp;A-157
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-158">&nbsp;A-158
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-159">&nbsp;A-159
      </div>
      <div class="room_number_1">
      <input type="radio" class="1" name="room" value="A-160" >&nbsp;A-160
      </div>
   </div>
   <div class="room_submit">
       <input  class ="room_submit_style" type="submit" value="Submit">
   </div>
   </form>
   </div>
{% include "includes/messages.html" %}
</body>
</html>